# File handling in Python

File handling in Python (also known as Python I/O) involves the reading and writing process and many other file handling options. The built-in Python methods can manage two file types, text and binary files, but they encode data differently.

- Add image in notebook first is upload a image in notebook and then type----> ![](file.jpg) <--- in markdown

![](images\file.jpg)

- Modes 
• read() ---> "r" (Opening a file to read)
• write() ---> "w" (Writing to a file)
• append() ---> "a" (Appending a file)
• close() ----> (Closing a file)

In [3]:
# Syntax ( note- if we run one time in write mode old file will be deleted so make a copy of a file ):-

file=open("f1.txt","r")
v=file.read()
print(v)

Hii, I'm Nikhil yadav

In [6]:
file=open("f2.txt","r")
v=file.read()
v

'Hello, Nikhil !! \nHow are you?'

In [7]:
f1=open("f1.txt","r")
f2=open("f2.txt","r")
if f1==f2:
    print("file is same")
else:
    print("file dosen't same")

file dosen't same

In [10]:
file=open("f2.txt","w")
file.write("My name is nikhil yadav\nand her name is prakriti yadav")
file.close()

In [11]:
file=open("f2.txt","r")
v=file.read()
print(v)

My name is nikhil yadav
and her name is prakriti yadav

In [13]:
# print tabel in file by write a file

tabel=open("tabel.txt","w")
for i in range(1,11):
    tabel.write(str(2*i)+"\n")
tabel.close()

In [16]:
# add all char of this tabel

file=open("tabel.txt","r")
s=0
for i in file:
    s=s+int(i)
print(s)

110

In [18]:
# replace "a" with "i" in file

file=open("f2.txt","r")
for i in file:
    x=i.replace("a","i")
file=open("f2.txt","w")
file.write(x)
file.close()

In [21]:
file=open("f1.txt","r")
l=[]
for i in file:
    print(i,len(i.split()))
    l.append(i.replace("\n"," ")+"   "+str(len(i.split())))
print(l)

Hii, I'm Nikhil yadav 4
["Hii, I'm Nikhil yadav   4"]

In [22]:
# one file data append in other file
file1 = open("f1.txt","r")
file2 = open("f2.txt","a")
a = file1.read()
file2.write("\n"+a)
file2.close()

In [23]:
file = open("f2.txt","r")
x = file.read()
print(x)

ind her nime is prikriti yidiv
Hii, I'm Nikhil yadav

In [25]:
# make a files by user input 
x = input("enter the file: ")
file = open(""+x+".txt","w")
file.write(x)
file.close()

enter the file: nik

In [26]:
# create multiple files by user input
x = int(input("entar the file number:"))
for i in range(1,x+1):
    file = open("d:"+str(i)+".txt","w")
    file.write(str(i))
    file.close()

entar the file number:2

In [29]:
# read a file by user input
x = input("enter the file number: ")
file = open(""+x+".txt","r")
v = file.read()
print(v)

enter the file number: nik
nik

In [30]:
# print tabel 1 to 10 in seprate file 
# (note - if we open a file in write mode old data will be automatic deleted and the new data save)
for i in range(1,11):
    file=open('d:'+str(i)+'.txt','w')
    for  j in range(1,11):
        file.write(str(i*j)+'\n')
    file.close()

In [31]:
# print a triangle pattern in file
file=open('d:pattern.txt','w')
n=0
for i in range(4,-1,-1):
    file.write(' '*i+'*'+' *'*n+'\n')
    n=n+1
file.close()

In [32]:
# print alphabets a to z 
file=open('d:abc.txt','w')
n=122
for i in range(97,123):
    file.write(chr(i)+'\n')
    n=n-1
file.close()

In [33]:
# print alphabets a to z and 2nd in reverse way
file=open('d:abc.txt','w')
n=122
for i in range(97,123):
    file.write(chr(i)+chr(n)+'\n')
    n=n-1
file.close()

In [34]:
# print the these chr's first letter and 2nd's next letter
r='ramesh'
w=-1
for i in range(len(r)):
    print(chr(ord(r[i])+w),end='')
    w=w*(-1)

qblfri

In [35]:
w=1
for i in range(w):
    w=w*(-1)
    print(w)

-1

In [36]:
print(chr(114))

r

In [37]:
a="ababcdcdef"
for i in a:
    if a.count(i)==1:
        print(i)
        break

e

In [38]:
for i in range(97,123):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [39]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [42]:
# reverse all the elemennts presence in the file
file = open("hello.txt","r")
x=[]
for i in file:
    c=(i[::-1].replace('\n',''))
    x.append(c)
file2=open("hello.txt","w")
for i in x:    
    file2.write(i+"\n")
file2.close()

In [44]:
# count all lines, words and chraracters
f1=open("hello.txt","r")
l=0
w=0
c=0
for i in f1:
    l=l+1
    for j in i.split():
        w=w+1
        for k in j:
            c=c+1
print("total number of line ",l)
print("total number of words",w)
print("total number of character",c)

total number of line  0
total number of words 0
total number of character 0

In [46]:
file = open("tu.txt",'r')
a=file.read()
b=input("enter sno.")
flag=0
v=[]
for i in file:
    v.append(i)
for j in v:
    if(i.split(',')[0]==b):
        i.split(',')[1]=input('enter name')
        flag=1
file1=open("tu.txt",'w')
for k in v:
    file1.write(k+'\n')
file1.close()

if(flag==0):
    print('not found')

enter sno.2
not found

In [47]:
v[j].split(',')[1]

IndexError: list index out of range

In [49]:
file=open('hi.txt','r')
v=[]
for i in file:
    v.append(i)
dn=input('Enter course: ')
for j in range(len(v)):
    if(v[j].split(',')[0]==dn):
        v[j].split(',')[1].input("Enter name")

Enter course: MCA

In [50]:
file = open('d:filhn.txt','w')

In [51]:
file.write('This is my india \n I love my india \n india')
file.close()

In [52]:
file = open('d:filhn.txt','r')
val = file.read()
val = val.replace('india','USA')
f = open("d:filhn.txt",'w')
f.write(val)
f.close()

In [53]:
file = open('d:filhn.txt','r')
val = file.read()
print(val)

This is my USA
 I love my USA
 USA

In [54]:
file = open('d:table5.txt','w')
for i in range(1,11):
    file.write(str(i*5))
    file.write('\n')
file.close()

In [55]:
file = open('d:table5.txt','r')
table = file.read()
print(table)

5
10
15
20
25
30
35
40
45
50

import re
file = open("cleanfile.txt",'w')
val = file.write("my% #name? is# n$ikhi#l f#r@om B$sr")
temp = re.sub('[^a-z]','',val)
f = open('cleanfile.txt','w')
f.write(temp)
f.close()

In [71]:
# create file
file = open("filehnd.txt","w")
# read file
file = open("filehnd.txt","r")

In [72]:
file.read()

''

In [73]:
file = open("filehnd.txt","w")
txt = input("Enter the Text: ")
file.write(txt)
file.close()

Enter the Text: hii

In [74]:
file = open("filehnd.txt","r")
file.read()

'hii'