# String
Any sequence of characters within either single quotes or double quotes is considered as a String.

    Syntax:
    s='nikhil'
    s="nikhil"
    
- Python strings are immutable, which means they cannot be altered after they are created.

Note: In most of other languges like C, C++,Java, a single character with in single quotes is treated as char data type value. But in Python we are not having char data type. Hence it is treated as
String only.

In [1]:
# Eg:
ch='n'
type(ch)

str

## How to define multi-line String literals:
We can define multi-line String literals by using triple single or double quotes.

In [2]:
# Eg
s = '''nikhil
    is a good boy'''
print(s)

nikhil
    is a good boy

#### We can also use triple quotes to use single quotes or double quotes as symbol inside String literal.

    Eg:
    s='This is ' single quote symbol' ==>invalid
    s='This is \' single quote symbol' ==>valid
    s="This is ' single quote symbol"====>valid
    s='This is " double quotes symbol' ==>valid
    s='The "Python Notes" by 'durga' is very helpful' ==>invalid
    s="The "Python Notes" by 'durga' is very helpful"==>invalid
    s='The \"Python Notes\" by \'durga\' is very helpful' ==>valid
    s='''The "Python Notes" by 'durga' is very helpful''' ==>valid

## How to access characters of a String:
We can access characters of a string by using the following ways.
1. By using index
2. By using slice operator

## 1. By using index:
Python supports both +ve and -ve index.
- +ve index means left to right(Forward direction)
- -ve index means right to left(Backward direction)

In [3]:
# Ex
s = 'nikhil'
s[0]

'n'

#### Note: If we are trying to access characters of a string with out of range index then we will get error saying : IndexError

#### Q. Write a program to accept some string from the keyboard and display its characters by index wise(both positive and nEgative index)

In [4]:
s = input('Enter the string: ')
i = 0
for x in s:
    print("The character present at positive index {} and at nEgative index {} is {}".format(i,i-len(s),x)) 
    i=i+1

Enter the string: Nikhil
The character present at positive index 0 and at nEgative index -6 is N
The character present at positive index 1 and at nEgative index -5 is i
The character present at positive index 2 and at nEgative index -4 is k
The character present at positive index 3 and at nEgative index -3 is h
The character present at positive index 4 and at nEgative index -2 is i
The character present at positive index 5 and at nEgative index -1 is l

## 2. Accessing characters by using slice operator:
Syntax: 
    
    s[beginindex : endindex : step]

    beginindex:From where we have to consider slice(substring)
    endindex: We have to terminate the slice(substring) at endindex-1
    step: incremented value
    
Note: If we are not specifying bEgin index then it will consider from bEginning of the string. If we are not specifying end index then it will consider up to end of the string The default value for step is 1

In [5]:
s="Python is very easy Language!!!"
#s[1:7:1] 

s[::-1]

'!!!egaugnaL ysae yrev si nohtyP'

s[1:7] ---> 'ython'
s[1:7:2] ---> 'yhn'
s[:7] ---> 'Python '
s[7:] ---> 'is very easy Language!!!'
s[::] ---> 'Python is very easy Language!!!'
s[:] ---> 'Python is very easy Language!!!!'
s[::-1] ---> ''!!!egaugnaL ysae yrev si nohtyP''

### Behaviour of slice operator:

    s[begin:end:step]

    step value can be either +ve or â€“ve
- if +ve then it should be forward direction(left to right) and we have to consider bEgin to end-1
- if -ve then it should be backward direction(right to left) and we have to consider bEgin to end+1

#### Note:
- In the backward direction if end value is -1 then result is always empty.
- In the forward direction if end value is 0 then result is always empty. 

#### In forward direction:

- default value for begin: 0
- default value for end: length of string
- default value for step: +1

#### In backward direction:
- default value for begin: -1
- default value for end: -(length of string+1)
#### Note: 
Either forward or backward direction, we can take both +ve and -ve values for begin and
end index.

A string in python can be sliced for getting a part of the string.
- consider the following string:-

    ------>012345
   name = 'nikhil'
        -6-5-4-3-2-1<------
        
==> length = 6

The index is a string starts from 0 to (length -1) in python.
We use the following syntax:

name = prakriti

sl ==> name[index_start : ind_end : step value]
  sl[0:3] returns "pra"
  sl[1:3] returns "ra"
  
- NEGATIVE INDEXING
  Negative indices can also be used as shown in the figure above -1 corresponds to the (length -1) index, -2 to (length -2).

- Slicing with skip value
  we can provide a skip value as a part of our slice like this:-

name = "prakriti"
name[1:8:2] ---> 'rkii'

### Mathematical Operators for String:
We can apply the following mathematical operators for Strings.

    1. + operator for concatenation
    2. * operator for repetition

In [6]:
print("nikhil"+"yadav") 
print("nikhil"*2)

nikhilyadav
nikhilnikhil

#### Note:
1. To use + operator for Strings, compulsory both arguments should be str type
2. To use * operator for Strings, compulsory one argument should be str and other argument
should be int

#### len() in-built function:
We can use len() function to find the number of characters present in the string

In [7]:
# Eg
s = 'prakriti'
print(len(s))

8

#### Q. Write a program to access each character of string in forward and backward direction by using while loop?

In [8]:
s="Python is very easy Language !!!"
n=len(s)
i=0
print("Forward direction")
while i<n:
    print(s[i],end=' ')
    i +=1
print("\nBackward direction")
i=-1
while i>=-n:
    print(s[i],end=' ')
    i=i-1

Forward direction
P y t h o n   i s   v e r y   e a s y   L a n g u a g e   ! ! !
Backward direction
! ! !   e g a u g n a L   y s a e   y r e v   s i   n o h t y P

In [9]:
# Alternative ways:
s="Python is very easy Language !!!"
print("Forward direction")
for i in s:
    print(i,end=' ')
print("\nForward direction")
for i in s[::]:
    print(i,end=' ')
print("\nBackward direction")
for i in s[::-1]:
    print(i,end=' ')

Forward direction
P y t h o n   i s   v e r y   e a s y   L a n g u a g e   ! ! !
Forward direction
P y t h o n   i s   v e r y   e a s y   L a n g u a g e   ! ! !
Backward direction
! ! !   e g a u g n a L   y s a e   y r e v   s i   n o h t y P

## Checking Membership:
We can check whether the character or string is the member of another string or not by using in and not in operators.

    s='nikhil'
    print('n' in s) #True
    print('z' in s) #False

In [10]:
# Program:
s=input("Enter string: ")
subs=input("Enter sub string: ")
if subs in s:
    print(subs,"is found in main string")
else: 
    print(subs,"is not found in main string")

Enter string: Nikhil
Enter sub string: i
i is found in main string

## Removing spaces from the string:
We can use the following 3 methods
1. rstrip()===>To remove spaces at right hand side
2. lstrip()===>To remove spaces at left hand side
3. strip() ==>To remove spaces both sides

In [11]:
# lstrip
# rstrip
# strip

a = "   nikhil     "
print(a.strip())
print(a.rstrip())
print(a.lstrip())

b = "****yadav****"

print(b.rstrip("*"))
print(b.lstrip("*"))
print(b.strip("*"))
c = b.strip("*")
print(c)

nikhil
   nikhil
nikhil
****yadav
yadav****
yadav
yadav

### Finding Substrings:
We can use the following 4 methods

#### For forward direction:
- find()
- index()
#### For backward direction:
- rfind()
- rindex()
### 1. find():

    s.find(substring)

Returns index of first occurrence of the given substring. If it is not available then we will get -1

In [12]:
# Eg
s = "Nikhil is a good boy"
print('is -',s.find('is'))
print('Nik -',s.find('Nik'))
print('ML -',s.find('ML'))

is - 7
Nik - 0
ML - -1

#### Note: By default find() method can search total string. We can also specify the boundaries to search.

    s.find(substring,begin,end)
    
- It will always search from begin index to end-1 index

In [13]:
# Eg:
s="Nikhilyadav" 
print(s.find('a'))
print(s.find('a',7,15)) 
print(s.find('a',8,15))
print(s.find('z',7,15))

7
7
9
-1

### index() method:
index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [14]:
# Eg:
s=input("Enter main string: ") 
subs=input("Enter sub string: ") 
try: 
    n=s.index(subs) 
except ValueError: 
    print("substring not found") 
else: 
    print("substring found")

Enter main string: Prakriti
Enter sub string: n
substring not found

#### Q. Program to display all positions of substring in a given main string

In [15]:
s=input("Enter main string: ") 
subs=input("Enter sub string: ") 
flag=False 
pos=-1 
n=len(s) 
while True: 
    pos=s.find(subs,pos+1,n) 
    if pos==-1: 
        break 
    print("Found at position",pos) 
    flag=True 
if flag==False: 
    print("Not Found")

Enter main string: Nikhil
Enter sub string: ik
Found at position 1

### Counting substring in the given String:
We can find the number of occurrences of substring present in the given string by using count() method.

    1. s.count(substring) ==> It will search through out the string
    2. s.count(substring, begin, end) ===> It will search from begin index to end-1 index

In [16]:
# Eg
s = 'Nikhil Yadav from Delhi'
print(s.count('a'))
print(s.count('hi'))
print(s.count('a',9,15))

2
2
1

### Replacing a string with another string:

    s.replace(oldstring,newstring)

inside s, every occurrence of oldstring will be replaced with newstring.

In [17]:
# Eg1:
s="Learning Python is very difficult"
s1=s.replace("difficult","easy")
print(s1)

Learning Python is very easy

In [18]:
# Eg2: All occurrences will be replaced
s="ababababababab"
s1=s.replace("a","b")
print(s1)

bbbbbbbbbbbbbb

#### Q. String objects are immutable then how we can change the content by using replace() method.
Once we creates string object, we cannot change the content.This non changeable behaviour is 
nothing but immutability. If we are trying to change the content by using any method, then with 
those changes a new object will be created and changes won't be happend in existing object.


Hence with replace() method also a new object got created but existing object won't be changed.

In [19]:
# Eg:
s="abab"
s1=s.replace("a","b")
print(s,"is available at :",id(s))
print(s1,"is available at :",id(s1))

abab is available at : 3176085975920
bbbb is available at : 3176085975664

In the above example, original object is available and we can see new object which was created 
because of replace() method.

### Splitting of Strings:
We can split the given string according to specified seperator by using split() method.
    
    l=s.split(seperator)

The default seperator is space. The return type of split() method is List

In [20]:
# Eg2:
s="22-02-2018" 
l=s.split('-') 
for x in l: 
    print(x)

22
02
2018

### Changing case of a String:
We can change case of a string by using the following 4 methods.
1. upper() ===>To convert all characters to upper case
2. lower() ===>To convert all characters to lower case
3. swapcase() ===>converts all lower case characters to upper case and all upper case characters to 
lower case
4. title() ===>To convert all character to title case. i.e first character in every word should be upper 
case and all remaining characters should be in lower case.
5. capitalize() ==>Only first character will be converted to upper case and all remaining characters 
can be converted to lower case

In [21]:
# Eg:
s='python is very Easy Language'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

PYTHON IS VERY EASY LANGUAGE
python is very easy language
PYTHON IS VERY eASY lANGUAGE
Python Is Very Easy Language
Python is very easy language

### Checking starting and ending part of the string:
Python contains the following methods for this purpose

    1. s.startswith(substring)
    2. s.endswith(substring)

In [22]:
# Eg:
s='Python is very easy learning'
print(s.startswith('learning'))
print(s.endswith('learning'))
print(s.endswith('easy'))

False
True
False

### To check type of characters present in a string:

Python contains the following methods for this purpose.

1. isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 )
2. isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)
3. isdigit(): Returns True if all characters are digits only( 0 to 9)
4. islower(): Returns True if all characters are lower case alphabet symbols
5. isupper(): Returns True if all characters are upper case aplhabet symbols
6. istitle(): Returns True if string is in title case
7. isspace(): Returns True if string contains only spaces

In [23]:
# Eg:
print('Nikhil9027'.isalnum()) #True
print('Nikhil90'.isalpha()) #False
print('nikhil'.isalpha()) #True
print('prakriti'.isdigit()) #False
print('902780'.isdigit()) #True
print('abc'.islower()) #True
print('Abc'.islower()) #False
print('abc123'.islower()) #True
print('ABC'.isupper()) #True
print('Learning python is Easy'.istitle()) #False
print('Learning Python Is Easy'.istitle()) #True
print(' '.isspace()) #True

True
False
True
False
True
True
False
True
True
False
True
True

### Formatting the Strings:
We can format the strings with variable values by using replacement operator {} and format() 
method.

In [24]:
# Eg:
name='nikhil'
salary=10000
age=20
print("{}'s salary is {} and his age is {}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

nikhil's salary is 10000 and his age is 20
nikhil's salary is 10000 and his age is 20
nikhil's salary is 10000 and his age is 20

### Important Programs regarding String Concept

#### Q1. Write a program to reverse the given String

In [25]:
# input: Nikhil
# output:lihkiN

# 1st Way:
s=input("Enter Some String:")
print(s[::-1])

# 2nd Way:
s=input("Enter Some String:")
print(''.join(reversed(s)))

# 3rd Way:
s=input("Enter Some String:")
i=len(s)-1
target=''
while i>=0:
    target=target+s[i]
    i=i-1
print(target)

Enter Some String:Prakriti
itirkarP
Enter Some String:Nikhil
lihkiN
Enter Some String:Akhil
lihkA

#### Q2. Write a program for the following requirement

In [27]:
# input: a4b3c2
# output: aaaabbbcc

s=input("Enter Some String:") 
output='' 
for x in s: 
    if x.isalpha(): 
        output=output+x 
        previous=x 
    else: 
        output=output+previous*(int(x)-1) 
print(output)

Enter Some String:a4b3c2
aaaabbbcc

### Formatting Date values

In [28]:
import datetime 

date=datetime.datetime.now() 
print("It's now:{:%d/%m/%Y %H:%M:%S}".format(date))

It's now:08/01/2023 14:34:57

### Escape Characters

    Code	Result
    \'	--> Single Quote	
    \\	--> Backslash	
    \n	--> New Line	
    \r	--> Carriage Return	
    \t	--> Tab	
    \b	--> Backspace	
    \f	--> Form Feed	
    \ooo	--> Octal value	
    \xhh	--> Hex value

### All String Methods

        Method ----> Description
    
    capitalize() ----> Converts the first character to upper case
    casefold() ----> Converts string into lower case
    center() ----> Returns a centered string
    count() ----> Returns the number of times a specified value occurs in a string
    encode() ----> Returns an encoded version of the string
    endswith() ----> Returns true if the string ends with the specified value
    expandtabs() ----> Sets the tab size of the string
    find() ----> Searches the string for a specified value and returns the position of where it was found
    format() ----> Formats specified values in a string
    format_map() ----> Formats specified values in a string
    index() ----> Searches the string for a specified value and returns the position of where it was found
    isalnum() ----> Returns True if all characters in the string are alphanumeric
    isalpha() ----> Returns True if all characters in the string are in the alphabet
    isdecimal() ----> Returns True if all characters in the string are decimals
    isdigit() ----> Returns True if all characters in the string are digits
    isidentifier() ----> Returns True if the string is an identifier
    islower() ----> Returns True if all characters in the string are lower case
    isnumeric() ----> Returns True if all characters in the string are numeric
    isprintable() ----> Returns True if all characters in the string are printable
    isspace() ----> Returns True if all characters in the string are whitespaces
    istitle() ----> Returns True if the string follows the rules of a title
    isupper() ----> Returns True if all characters in the string are upper case
    join() ----> Joins the elements of an iterable to the end of the string
    ljust() ----> Returns a left justified version of the string
    lower() ----> Converts a string into lower case
    lstrip() ----> Returns a left trim version of the string
    maketrans() ----> Returns a translation table to be used in translations
    partition() ----> Returns a tuple where the string is parted into three parts
    replace() ----> Returns a string where a specified value is replaced with a specified value
    rfind() ----> Searches the string for a specified value and returns the last position of where it was found
    rindex() ----> Searches the string for a specified value and returns the last position of where it was found
    rjust() ----> Returns a right justified version of the string
    rpartition() ----> Returns a tuple where the string is parted into three parts
    rsplit() ----> Splits the string at the specified separator, and returns a list
    rstrip() ----> Returns a right trim version of the string
    split() ----> Splits the string at the specified separator, and returns a list
    splitlines() ----> Splits the string at line breaks and returns a list
    startswith() ----> Returns true if the string starts with the specified value
    strip() ----> Returns a trimmed version of the string
    swapcase() ----> Swaps cases, lower case becomes upper case and vice versa
    title() ----> Converts the first character of each word to upper case
    translate() ----> Returns a translated string
    upper() ----> Converts a string into upper case
    zfill() ----> Fills the string with a specified number of 0 values at the beginning

## List Data Structure

If we want to represent a group of individual objects as a single entity where insertion 
order preserved and duplicates are allowed, then we should go for List.

- insertion order preserved.
- duplicate objects are allowed
- heterogeneous objects are allowed.
- List is dynamic because based on our requirement we can increase the size and decrease the size.
- In List the elements will be placed within square brackets and with comma seperator.

We can differentiate duplicate elements by using index and we can preserve insertion 
order by using index. Hence index will play very important role.
Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left

        -6  -5  -4  -3  -2  -1 <----
        [10,"A","B",20, 30, 10] 
    ----> 0   1   2   3   4   5

List objects are mutable.i.e we can change the content.

### Creation of List Objects:
#### 1. We can create empty list object as follows...

In [29]:
lst=[] 
print(lst) 
print(type(lst))

[]
<class 'list'>

#### 2. If we know elements already then we can create list as follows
    
    list=[10,20,30,40]
    
    
#### 3. With dynamic input:

In [31]:
lst=eval(input("Enter List: ")) 
print(lst) 
print(type(lst))

Enter List: 1,2,3,2,2,34,4
(1, 2, 3, 2, 2, 34, 4)
<class 'tuple'>

#### 4. With list() function:

In [32]:
l= list(range(0,10,2)) 
print(l) 
print(type(l))

[0, 2, 4, 6, 8]
<class 'list'>

In [33]:
# Eg:
s="Nikhil" 
l=list(s) 
print(l)

['N', 'i', 'k', 'h', 'i', 'l']

#### 5. with split() function:

In [34]:
s="Python is very easy Learning!!!" 
l=s.split() 
print(l) 
print(type(l))

['Python', 'is', 'very', 'easy', 'Learning!!!']
<class 'list'>

#### Note: 
Sometimes we can take list inside another list,such type of lists are called nested lists.

    [10,20,[30,40]]

## Accessing elements of List:
We can access elements of the list either by using index or by using slice operator(:)

### 1. By using index:
List follows zero based index. ie index of first element is zero.


List supports both +ve and -ve indexes.
    
    +ve index meant for Left to Right
    -ve index meant for Right to Left
    
          -4 -3 -2 -1 <----
    list=[10,20,30,40] 
     ----> 0  1  2  3 

    print(list[0]) ==> 10
    print(list[-1]) ==> 40
    print(list[10]) ==> IndexError: list index out of range

### 2. By using slice operator:
Syntax:

    list2 = list1[start:stop:step]
    
    start ==> it indicates the index where slice has to start default value is 0
    
    stop ===> It indicates the index where slice has to end default value is max allowed index of list ie length of the list
    
    step ==> increment value default value is 1

In [35]:
# Eg:
n=[1,2,3,4,5,6,7,8,9,10] 
print(n[2:7:2]) 
print(n[4::2]) 
print(n[3:7]) 
print(n[8:2:-2]) 
print(n[4:100])

[3, 5, 7]
[5, 7, 9]
[4, 5, 6, 7]
[9, 7, 5]
[5, 6, 7, 8, 9, 10]

## List vs mutability:
Once we creates a List object,we can modify its content with same id. Hence List objects are mutable.

In [36]:
# Eg:
n=[10,20,30,40] 
print(n) 
n[1]=777 
print(n)

[10, 20, 30, 40]
[10, 777, 30, 40]

## Traversing the elements of List:
The sequential access of each element in the list is called traversal.
### 1. By using while loop:

In [37]:
n=[0,1,2,3,4,5,6,7,8,9,10] 
i=0 
while i<len(n): 
    print(n[i]) 
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

### 2. By using for loop:

In [38]:
n=[0,1,2,3,4,5,6,7,8,9,10] 
for n1 in n: 
    print(n1)

0
1
2
3
4
5
6
7
8
9
10

### 3. To display only even numbers:

In [39]:
n=[0,1,2,3,4,5,6,7,8,9,10] 
for n1 in n: 
    if n1%2==0: 
        print(n1)

0
2
4
6
8
10

### 4. To display elements by index wise:

In [40]:
l=["A","B","C"] 
x=len(l) 
for i in range(x): 
    print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

A is available at positive index:  0 and at negative index:  -3
B is available at positive index:  1 and at negative index:  -2
C is available at positive index:  2 and at negative index:  -1

## Important functions of List:
### I. To get information about list:
### 1. len():
 
     returns the number of elements present in the list

In [41]:
# Eg: 
n=[10,20,30,40]
print(len(n))

4

### 2. count():
It returns the number of occurrences of specified item in the list

In [42]:
n=[1,2,2,2,2,3,3] 
print(n.count(1)) 
print(n.count(2)) 
print(n.count(3)) 
print(n.count(4))

1
4
2
0

### 3. index() function:
returns the index of first occurrence of the specified item.

In [43]:
# Eg:
n=[1,2,2,2,2,3,3] 
print(n.index(1))  
print(n.index(2)) 
print(n.index(3)) 
# print(n.index(4)) ==>ValueError: 4 is not in list

0
1
5

#### Note: 
If the specified element not present in the list then we will get ValueError.Hence before index() method we have to check whether item present in the list or not by using in operator.

    print( 4 in n)==>False

## II. Manipulating elements of List:
### 1. append() function:
We can use append() function to add item at the end of the list.

In [44]:
# Eg:
list=[] 
list.append("A") 
list.append("B") 
list.append("C") 
print(list)

['A', 'B', 'C']

In [45]:
# Eg: To add all elements to list upto 100 which are divisible by 10
list=[] 
for i in range(101): 
    if i%10==0: 
        list.append(i) 
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 2. insert() function:
To insert item at specified index position

In [46]:
n=[1,2,3,4,5] 
n.insert(1,888) 
print(n)

[1, 888, 2, 3, 4, 5]

In [47]:
# Eg:
n=[1,2,3,4,5] 
n.insert(10,777) 
n.insert(-10,999) 
print(n)

[999, 1, 2, 3, 4, 5, 777]

#### Note: 
If the specified index is greater than max index then element will be inserted at last 
position. If the specified index is smaller than min index then element will be inserted at 
first position.

#### Differences between append() and insert()

    append() ----> In List when we add any element it will come in last i.e. it will be last element.

    insert() ----> In List we can insert any element in particular index number

### 3. extend() function:
To add all items of one list to another list

    l1.extend(l2) 
     all items present in l2 will be added to l1

In [48]:
# Eg:
order1=["Burger","Pizza","Roll"] 
order2=["Domino's","Pizza Pie","KFC"] 
order1.extend(order2) 
print(order1)

['Burger', 'Pizza', 'Roll', "Domino's", 'Pizza Pie', 'KFC']

### 4. remove() function:
We can use this function to remove specified item from the list.If the item present 
multiple times then only first occurrence will be removed.

In [49]:
n=[10,20,10,30] 
n.remove(10) 
print(n)

[20, 10, 30]

If the specified item not present in list then we will get ValueError
    
    n=[10,20,10,30] 
    n.remove(40) 
    print(n) 
    
    ValueError: list.remove(x): x not in list

#### Note: 
Hence before using remove() method first we have to check specified element present in the list or not by using in operator.

### 5. pop() function:
- It removes and returns the last element of the list.
- This is only function which manipulates list and returns some element.

In [50]:
# Eg:
n=[10,20,30,40] 
print(n.pop()) 
print(n.pop()) 
print(n)

40
30
[10, 20]

If the list is empty then pop() function raises IndexError

    Eg:
    n=[] 
    print(n.pop()) ==> IndexError: pop from empty list

#### Note:
1. pop() is the only function which manipulates the list and returns some value
2. In general we can use append() and pop() functions to implement stack datastructure by using list,which follows LIFO(Last In First Out) order.

In general we can use pop() function to remove last element of the list. But we can use to remove elements based on index.

    n.pop(index) ===> To remove and return element present at specified index.
    n.pop() ==> To remove and return last element of the list

In [51]:
n=[10,20,30,40,50,60] 
print(n.pop()) 
print(n.pop(1)) 
#print(n.pop(10)) ==> IndexError: pop index out of range

60
20

### Differences between remove() and pop()

#### remove() 
1. We can use to remove special element from the List. 
2. It canâ€™t return any value. 
3. If special element not available then we get VALUE ERROR.



#### pop()
1. We can use to remove last element from the List.
2. It returned removed element.
3. If List is empty then we get Error.

#### Note:
List objects are dynamic. i.e based on our requirement we can increase and decrease the size.

    append(), insert(), extend() ===> for increasing the size/growable nature

    remove(), pop() ======> for decreasing the size /shrinking nature

## III. Ordering elements of List:
### 1. reverse():
We can use to reverse() order of elements of list.

In [52]:
n=[10,20,30,40] 
n.reverse()  
print(n)

[40, 30, 20, 10]

### 2. sort() function:
In list by default insertion order is preserved. If want to sort the elements of list according to default natural sorting order then we should go for sort() method.

    For numbers ==>default natural sorting order is Ascending Order
    For Strings ==> default natural sorting order is Alphabetical Order

In [53]:
n=[20,5,15,10,0] 
n.sort() 
print(n) #[0,5,10,15,20] 

n=[20,5,15,10,0] 
n.sort(reverse=True) 
print(n) 

s=["Dog","Banana","Cat","Apple"] 
s.sort() 
print(s) #['Apple','Banana','Cat','Dog']

[0, 5, 10, 15, 20]
[20, 15, 10, 5, 0]
['Apple', 'Banana', 'Cat', 'Dog']

#### Note: 
To use sort() function, compulsory list should contain only homogeneous elements. 
otherwise we will get TypeError

    Eg:
    n=[20,10,"A","B"] 
    n.sort() 
    print(n) 

    TypeError: '<' not supported between instances of 'str' and 'int' 
#### Note: 
In Python 2 if List contains both numbers and Strings then sort() function first sort numbers followed by strings But in Python 3 it is invalid.

### To sort in reverse of default natural sorting order:
We can sort according to reverse of default natural sorting order by using reverse=True 
argument.

Eg:
    
    n=[40,10,30,20] 
    n.sort() 
    print(n) ==>[10,20,30,40] 
    n.sort(reverse=True) 
    print(n) ===>[40,30,20,10] 
    n.sort(reverse=False) 
    print(n) ==>[10,20,30,40] 
    
### Aliasing and Cloning of List objects:
The process of giving another reference variable to the existing list is called aliasing.

In [54]:
# Eg:
x=[10,20,30,40] 
y=x 
print(id(x)) 
print(id(y))

3176118923328
3176118923328

The problem in this approach is by using one reference variable if we are changing 
content,then those changes will be reflected to the other reference variable.

In [55]:
x=[10,20,30,40] 
y=x 
y[1]=777 
print(x)

[10, 777, 30, 40]

- To overcome this problem we should go for cloning.
- The process of creating exactly duplicate independent object is called cloning.
- We can implement cloning by using slice operator or by using copy() function

### 1. By using slice operator:

In [56]:
x=[10,20,30,40] 
y=x[:] 
y[1]=777 
print(x) 
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

### 2. By using copy() function:

In [57]:
x=[10,20,30,40] 
y=x.copy() 
y[1]=777 
print(x) 
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

#### Q. Difference between = operator and copy() function
= operator meant for aliasing

copy() function meant for cloning

## Using Mathematical operators for List Objects:
We can use + and * operators for List objects.
### 1. Concatenation operator(+):
We can use + to concatenate 2 lists into a single list

In [58]:
a=[10,20,30] 
b=[40,50,60] 
c=a+b 
print(c)

[10, 20, 30, 40, 50, 60]

#### Note:
To use + operator compulsory both arguments should be list objects,otherwise we will get TypeError.

    Eg:
    c=a+40 ==>TypeError: can only concatenate list (not "int") to list
    c=a+[40] ==>valid
### 2. Repetition Operator(*):
We can use repetition operator * to repeat elements of list specified number of times

In [59]:
# Eg:
x=[10,20,30] 
y=x*3 
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### Comparing List objects
We can use comparison operators for List objects.

In [60]:
# Eg:
x=["Dog","Cat","Rat"] 
y=["Dog","Cat","Rat"] 
z=["DOG","CAT","RAT"] 
print(x==y) 
print(x==z) 
print(x != z)

True
False
True

#### Note:
Whenever we are using comparison operators(==,!=) for List objects then the following should be considered

 1. The number of elements
 2. The order of elements
 3. The content of elements (case sensitive)

#### Note: 
When ever we are using relatational operators(<,<=,>,>=) between List objects,only first element comparison will be performed.

In [61]:
# Eg:
x=[50,20,30] 
y=[40,50,60,100,200] 
print(x>y) 
print(x>=y) 
print(x<y) 
print(x<=y)

True
True
False
False

In [62]:
# Eg:
x=["Dog","Cat","Rat"] 
y=["Rat","Cat","Dog"] 
print(x>y)  
print(x>=y)  
print(x<y)  
print(x<=y)

False
False
True
True

## Membership operators:
We can check whether element is a member of the list or not by using memebership operators.
- in operator
- not in operator

In [63]:
# Eg:
n=[10,20,30,40] 
print (10 in n) 
print (10 not in n) 
print (50 in n) 
print (50 not in n)

True
False
False
True

### clear() function:
We can use clear() function to remove all elements of List.

In [64]:
# Eg:
n=[10,20,30,40] 
print(n) 
n.clear() 
print(n)

[10, 20, 30, 40]
[]

### Nested Lists:
Sometimes we can take one list inside another list. Such type of lists are called nested lists.

In [65]:
# Eg:
n=[10,20,[30,40]] 
print(n) 
print(n[0]) 
print(n[2]) 
print(n[2][0]) 
print(n[2][1])

[10, 20, [30, 40]]
10
[30, 40]
30
40

#### Note: 
We can access nested list elements by using index just like accessing multi 
dimensional array elements.

### Nested List as Matrix:
In Python we can represent matrix by using nested lists.

In [66]:
n=[[10,20,30],[40,50,60],[70,80,90]] 
print(n) 
print("Elements by Row wise:") 
for r in n: 
    print(r) 
print("Elements by Matrix style:") 
for i in range(len(n)): 
    for j in range(len(n[i])): 
        print(n[i][j],end=' ') 
    print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by Matrix style:
10 20 30
40 50 60
70 80 90

## List Comprehensions:
It is very easy and compact way of creating list objects from any iterable objects(like list,tuple,dictionary,range etc) based on some condition.

    Syntax:
    new_list = [expression for_loop_one_or_more conditions]

In [67]:
# Eg:
s=[ x*x for x in range(1,11)] 
print(s) 
v=[2**x for x in range(1,6)] 
print(v) 
m=[x for x in s if x%2==0] 
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

In [68]:
# Finding squares of numbers in a list with the help of list comprehensions:
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

In [69]:
# Eg:
words=["Balaiah","Nag","Venkatesh","Chiranjeevi"] 
l=[w[0] for w in words] 
print(l)

['B', 'N', 'V', 'C']

In [70]:
# Find common numbers from two lists using list comprehension:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common_num = [a for a in list_a for b in list_b if a == b]
print(common_num)

[2, 3, 4]

In [71]:
# Eg:
num1=[10,20,30,40] 
num2=[30,40,50,60] 
num3=[ i for i in num1 if i not in num2] 
print(num3) 

# common elements present in num1 and num2 
num4=[i for i in num1 if i in num2] 
print(num4)

[10, 20]
[30, 40]

### All List Methods

        Method ----> Description
        
    append() ----> Adds an element at the end of the list
    clear() ----> Removes all the elements from the list
    copy() ----> Returns a copy of the list
    count() ----> Returns the number of elements with the specified value
    extend() ----> Add the elements of a list (or any iterable), to the end of the current list
    index() ----> Returns the index of the first element with the specified value
    insert() ----> Adds an element at the specified position
    pop() ----> Removes the element at the specified position
    remove() ----> Removes the first item with the specified value
    reverse() ----> Reverses the order of the list
    sort() ----> Sorts the list
    sum() ----> Return sum of all elements in the list.

## Dictionary Data Structure
We can use List,Tuple and Set to represent a group of individual objects as a single entity.


If we want to represent a group of objects as key-value pairs then we should go for Dictionary.
     
     Eg:
     rollno ---- name
     phone number -- address
     ipaddress --- domain name
     
- Duplicate keys are not allowed but values can be duplicated.
- Hetrogeneous objects are allowed for both key and values.
- insertion order is not preserved
- Dictionaries are mutable
- Dictionaries are dynamic
- indexing and slicing concepts are not applicable

#### Note: 
In C++ and Java Dictionaries are known as "Map" where as in Perl and Ruby it is known as "Hash"

### How to create Dictionary?

    d={} or d=dict()
we are creating empty dictionary. We can add entries as follows

In [72]:
d={}
d[100]="nikhil"
d[200]="prakriti"
d[300]="delhi"
print(d)

{100: 'nikhil', 200: 'prakriti', 300: 'delhi'}

If we know data in advance then we can create dictionary as follows

    d={key:value, key:value}

In [73]:
months= {1:"January", 2:"February", 3: "March"}

### How to access data from the dictionary?
We can access data by using keys.

In [74]:
d={100:'nikhil' ,200:'prakriti', 300:'delhi'}
print(d[100]) 
print(d[300])

nikhil
delhi

If the specified key is not available then we will get KeyError
    
    print(d[400]) # KeyError: 400
    
#### Q. Write a program to enter name and percentage marks in a dictionary and display information on the screen

In [78]:
rec={} 
n=int(input("Enter number of students: ")) 
i=1 
while i <=n: 
    name=input("Enter Student Name: ") 
    marks=input("Enter % of Marks of Student: ") 
    rec[name]=marks 
    i=i+1 
print("Name of Student","\t","% of marks") 
for x in rec: 
    print("\t",x,"\t\t",rec[x])

Enter number of students: 2
Enter Student Name: Nikhil Yadav
Enter % of Marks of Student: 95
Enter Student Name: Prakriti Yadav
Enter % of Marks of Student: 99
Name of Student 	 % of marks
	 Nikhil Yadav 		 95
	 Prakriti Yadav 		 99

### How to update dictionaries?

    d[key]=value
If the key is not available then a new entry will be added to the dictionary with the specified key-value pair

If the key is already available then old value will be replaced with new value.

In [79]:
# Eg:
d={100:"Happy",200:"Prakriti",300:"Delhi"} 
print(d) 
d[400]="Akhil" 
print(d) 
d[100]="Nikhil" 
print(d)

{100: 'Happy', 200: 'Prakriti', 300: 'Delhi'}
{100: 'Happy', 200: 'Prakriti', 300: 'Delhi', 400: 'Akhil'}
{100: 'Nikhil', 200: 'Prakriti', 300: 'Delhi', 400: 'Akhil'}

### How to delete elements from dictionary?

    del d[key]
- It deletes entry associated with the specified key.
- If the key is not available then we will get KeyError

In [80]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d) 
del d[100] 
print(d) 
#del d[400] --> KeyError: 400

{100: 'nikhil', 200: 'prakriti', 300: 'yadav'}
{200: 'prakriti', 300: 'yadav'}

### d.clear()
To remove all entries from the dictionary

In [81]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d) 
d.clear() 
print(d)

{100: 'nikhil', 200: 'prakriti', 300: 'yadav'}
{}

### del d
To delete total dictionary.Now we cannot access d

In [82]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d) 
del d 
#print(d) ---> NameError: name 'd' is not defined

{100: 'nikhil', 200: 'prakriti', 300: 'yadav'}

## Important functions of dictionary:
### 1. dict():

To create a dictionary

    d=dict() ===> It creates empty dictionary
    d=dict({100:"durga",200:"ravi"}) ==> It creates dictionary with specified elements
    d=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])==>It creates dictionary with the given list of tuple elements

### 2. len()
Returns the number of items in the dictionary
### 3. clear():
To remove all elements from the dictionary
### 4. get():
To get the value associated with the key

    d.get(key) 
     If the key is available then returns the corresponding value otherwise returns None.It wont raise any error.

    d.get(key,defaultvalue)
    If the key is available then returns the corresponding value otherwise returns default value.

In [83]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d[100]) 
#print(d[400]) ==>KeyError:400 
print(d.get(100)) 
print(d.get(400)) 
print(d.get(100,"Guest")) 
print(d.get(400,"Guest"))

nikhil
nikhil
None
nikhil
Guest

### 3. pop():

    d.pop(key)
 It removes the entry associated with the specified key and returns the corresponding 

    value
     
If the specified key is not available then we will get KeyError

In [84]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d.pop(100)) 
print(d) 
#print(d.pop(400)) --->  KeyError: 400

nikhil
{200: 'prakriti', 300: 'yadav'}

### 4. popitem():
It removes an arbitrary item(key-value) from the dictionaty and returns it.

In [85]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d) 
print(d.popitem()) 
print(d)

{100: 'nikhil', 200: 'prakriti', 300: 'yadav'}
(300, 'yadav')
{100: 'nikhil', 200: 'prakriti'}

If the dictionary is empty then we will get KeyError
    
    d={}
    print(d.popitem()) ==>KeyError: 'popitem(): dictionary is empty'
### 5. keys():
It returns all keys associated eith dictionary

In [86]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d.keys()) 
for k in d.keys(): 
    print(k)

dict_keys([100, 200, 300])
100
200
300

### 6. values():
It returns all values associated with the dictionary

In [87]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
print(d.values()) 
for v in d.values(): 
    print(v)

dict_values(['nikhil', 'prakriti', 'yadav'])
nikhil
prakriti
yadav

### 7. items():
It returns list of tuples representing key-value pairs.

    [(k,v),(k,v),(k,v)]

In [88]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"yadav"} 
for k,v in d.items(): 
    print(k,"--",v)

100 -- nikhil
200 -- prakriti
300 -- yadav

### 8. copy():
To create exactly duplicate dictionary(cloned copy)

    d1=d.copy();
### 9. setdefault():

    d.setdefault(k,v)
- If the key is already available then this function returns the corresponding value.
- If the key is not available then the specified key-value will be added as new item to the dictionary.

In [89]:
# Eg:
d={100:"nikhil",200:"prakriti",300:"chunmun"} 
print(d.setdefault(400,"happy")) 
print(d) 
print(d.setdefault(100,"akhil")) 
print(d)

happy
{100: 'nikhil', 200: 'prakriti', 300: 'chunmun', 400: 'happy'}
nikhil
{100: 'nikhil', 200: 'prakriti', 300: 'chunmun', 400: 'happy'}

### 10. update():
    
    d.update(x)
All items present in the dictionary x will be added to dictionary d
#### Q. Write a program to find number of occurrences of each letter present in the given string?

In [91]:
word=input("Enter any word: ") 
d={} 
for x in word: 
    d[x]=d.get(x,0)+1 
for k,v in d.items(): 
    print(k,"occurred ",v," times")

Enter any word: n
n occurred  1  times

### Dictionary Comprehension:
Comprehension concept applicable for dictionaries also.

In [92]:
squares={x:x*x for x in range(1,6)} 
print(squares) 
doubles={x:2*x for x in range(1,6)} 
print(doubles)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

### Iterating over a Dictionary:

In [93]:
bar= {2:1,3:2,4:3}
for t in bar:
    print(t)

2
3
4

### All Dictionary Methods

    Method ----> Description

    clear() ----> Removes all the elements from the dictionary
    copy() ----> Returns a copy of the dictionary
    fromkeys() ----> Returns a dictionary with the specified keys and value
    get() ----> Returns the value of the specified key
    items() ----> Returns a list containing a tuple for each key value pair
    keys() ----> Returns a list containing the dictionary's keys
    pop() ----> Removes the element with the specified key
    popitem() ----> Removes the last inserted key-value pair
    setdefault() ----> Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
    update() ----> Updates the dictionary with the specified key-value pairs
    values() ----> Returns a list of all the values in the dictionary

## Tuple Data Structure
1. Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple 

object,we cannot perform any changes in that object.
Hence Tuple is Read Only version of List.

2. If our data is fixed and never changes then we should go for Tuple.
3. Insertion Order is preserved
4. Duplicates are allowed
5. Heterogeneous objects are allowed.
6. We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.

Tuple support both +ve and -ve index. +ve index means forward direction(from left to right) and -ve index means backward direction(from right to left)

7. We can represent Tuple elements within Parenthesis and with comma seperator.

Parenethesis are optional but recommended to use.

In [94]:
# Eg:
t=10,20,30,40 
print(t) 
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

#### Note: 
We have to take special care about single valued tuple.compulsary the value 
should ends with comma,otherwise it is not treated as tuple.

In [95]:
# Eg:
t=(10) 
print(t) 
print(type(t))

10
<class 'int'>

In [96]:
# Eg:
t=(10,) 
print(t) 
print(type(t))

(10,)
<class 'tuple'>

### Tuple creation:
#### 1. t=()
 creation of empty tuple
#### 2. t=(10,)
 
     t=10,

creation of single valued tuple ,parenthesis are optional,should ends with comma
#### 3. t=10,20,30
 
     t=(10,20,30)

creation of multi values tuples & parenthesis are optional
#### 4. By using tuple() function:

In [97]:
list=[10,20,30] 
t=tuple(list) 
print(t) 

t=tuple(range(10,20,2)) 
print(t)

(10, 20, 30)
(10, 12, 14, 16, 18)

### Accessing elements of tuple:
We can access either by index or by slice operator
#### 1. By using index:

In [98]:
t=(10,20,30,40,50,60) 
print(t[0])  
print(t[-1])  
# print(t[100]) IndexError: tuple index out of range

10
60

#### By using slice operator:

In [99]:
t=(10,20,30,40,50,60) 
print(t[2:5]) 
print(t[2:100]) 
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

### Tuple vs immutability:
Once we creates tuple,we cannot change its content.

Hence tuple objects are immutable.
 
    Eg:
    t=(10,20,30,40)
    t[1]=70 TypeError: 'tuple' object does not support item assignment
## Mathematical operators for tuple:

We can apply + and * operators for tuple
#### 1. Concatenation Operator(+):

In [100]:
t1=(10,20,30) 
t2=(40,50,60) 
t3=t1+t2 
print(t3)

(10, 20, 30, 40, 50, 60)

#### 2. Multiplication operator or repetition operator(*)

In [101]:
t1=(10,20,30) 
t2=t1*3 
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

### Important functions of Tuple:
#### 1. len()
 To return number of elements present in the tuple
 
     Eg:
     t=(10,20,30,40)
     print(len(t)) #4
     
#### 2. count()
 To return number of occurrences of given element in the tuple
     
     Eg:
     t=(10,20,10,10,20)
     print(t.count(10)) #3
     
#### 3. index()
 returns index of first occurrence of the given element.
 If the specified element is not available then we will get ValueError.
 
        Eg:
        t=(10,20,10,10,20)
        print(t.index(10)) #0
        print(t.index(30)) ValueError: tuple.index(x): x not in tuple
#### 4. sorted()
 To sort elements based on default natural sorting order

In [102]:
t=(40,10,30,20) 
t1=sorted(t) 
print(t1) 
print(t)

[10, 20, 30, 40]
(40, 10, 30, 20)

We can sort according to reverse of default natural sorting order as follows

In [103]:
t1=sorted(t,reverse=True)
print(t1)

[40, 30, 20, 10]

### 5. min() and max() functions:
These functions return min and max values according to default natural sorting order.

In [104]:
# Eg:
t=(40,10,30,20) 
print(min(t))  
print(max(t))

10
40

### Tuple Packing and Unpacking:
We can create a tuple by packing a group of variables.

In [105]:
# Eg:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

Here a,b,c,d are packed into a tuple t. This is nothing but tuple packing.

Tuple unpacking is the reverse process of tuple packing

We can unpack a tuple and assign its values to different variables

In [106]:
# Eg:
t=(10,20,30,40) 
a,b,c,d=t 
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

#### Note: 
At the time of tuple unpacking the number of variables and number of values 
should be same. ,otherwise we will get ValueError.

    Eg:
    t=(10,20,30,40)
    a,b,c=t #ValueError: too many values to unpack (expected 3)
### Tuple Comprehension:
Tuple Comprehension is not supported by Python.
 
     t= ( x**2 for x in range(1,6))

Here we are not getting tuple object and we are getting generator object.

In [107]:
t= ( x**2 for x in range(1,6)) 
print(type(t)) 
for x in t: 
    print(x)

<class 'generator'>
1
4
9
16
25

#### Q. Write a program to take a tuple of numbers from the keyboard and print its sum and average?

In [109]:
t=eval(input("Enter Tuple of Numbers:")) 
l=len(t) 
sum=0 
for x in t: 
    sum=sum+x 
print("The Sum=",sum) 
print("The Average=",sum/l)

Enter Tuple of Numbers:12,1,3,2,34,2
The Sum= 54
The Average= 9.0

## Differences between List and Tuple:
List and Tuple are exactly same except small difference: List objects are mutable where as Tuple objects are immutable.

In both cases insertion order is preserved, duplicate objects are allowed, heterogenous objects are allowed, index and slicing are supported. 

### List 
1) List is a Group of Comma separeated Values within Square Brackets and Square Brackets are mandatory.

    Eg: i = [10, 20, 30, 40]
    
2) List Objects are Mutable i.e. once we creates List Object we can perform any changes in that Object.

    Eg: i[1] = 70

3) If the Content is not fixed and keep on changing then we should go for List.

4) List Objects can not used as Keys for Dictionries because Keys should be Hashable and Immutable.

### Tuple
1) Tuple is a Group of Comma separeated Values within Parenthesis and Parenthesis are optional.

    Eg: t = (10, 20, 30, 40)
     
     t = 10, 20, 30, 40

2) Tuple Objeccts are Immutable i.e. once we creates Tuple Object we cannot change its content.

    t[1] = 70 ïƒ¨ ValueError: tuple object does not support item assignment.

3) If the content is fixed and never changes then we should go for Tuple

4) Tuple Objects can be used as Keys for Dictionries because Keys should be Hashable and Immutable.

### All Tuple Methods

    Method ----> Description

    count(x) ----> Returns the number of times a specified value occurs in a tuple
    index(x) ----> Searches the tuple for a specified value and returns the position of where it was found
    sorted(tpl) ----> Sorts the elements of tuple into ascending order.
    min(tpl) ----> Return the smallest element in the tuple.
    max(tpl) ----> Return the biggest element in the tuple.
    len(tpl) ----> Return the number of elements in the tuple.

## Set Data Structure
 
- If we want to represent a group of unique values as a single entity then we should go for set.
- Duplicates are not allowed.
- Insertion order is not preserved.But we can sort the elements.
- Indexing and slicing not allowed for the set.
- Heterogeneous elements are allowed.
- Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.
- We can represent set elements within curly braces and with comma seperation
- We can apply mathematical operations like union,intersection,difference etc on set objects. Creation of Set objects:

### Creation of Set objects:

In [110]:
# Eg:
s={10,20,30,40} 
print(s) 
print(type(s))

{40, 10, 20, 30}
<class 'set'>

We can create set objects by using set() function

    s=set(any sequence)

In [111]:
# Eg 1:
l = [10,20,30,40,10,20,10] 
s=set(l) 
print(s)

{40, 10, 20, 30}

In [112]:
# Eg 2:
s=set(range(5)) 
print(s)

{0, 1, 2, 3, 4}

#### Note: 
While creating empty set we have to take special care.
Compulsory we should use set() function.

    s={} ==>It is treated as dictionary but not empty set.

In [113]:
# Eg:
s={} 
print(s) 
print(type(s))

{}
<class 'dict'>

In [114]:
# Eg:
s=set() 
print(s) 
print(type(s))

set()
<class 'set'>

## Important functions of set:
### 1. add(x):
Adds item x to the set

In [115]:
# Eg:
s={10,20,30} 
s.add(40); 
print(s)

{40, 10, 20, 30}

### 2. update(x,y,z):
- To add multiple items to the set.
- Arguments are not individual elements and these are Iterable objects like List,range etc.
- All elements present in the given Iterable objects will be added to the set.

In [116]:
# Eg:
s={10,20,30} 
l=[40,50,60,10] 
s.update(l,range(5)) 
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

#### Q. What is the difference between add() and update() functions in set?
We can use add() to add individual item to the Set,where as we can use update() function 
to add multiple items to Set.

add() function can take only one argument where as update() function can take any 
number of arguments but all arguments should be iterable objects.
#### Q. Which of the following are valid for set s?
1. s.add(10)
2. s.add(10,20,30) TypeError: add() takes exactly one argument (3 given)
3. s.update(10) TypeError: 'int' object is not iterable
4. s.update(range(1,10,2),range(0,10,2))

### 3. copy():

    Returns copy of the set.
    It is cloned object.
    s={10,20,30}
    s1=s.copy()
    print(s1)

### 4. pop():
It removes and returns some random element from the set.

In [117]:
# Eg:
s={40,10,30,20} 
print(s) 
print(s.pop()) 
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

### 5. remove(x):
It removes specified element from the set.

If the specified element not present in the Set then we will get KeyError

    s={40,10,30,20}
    s.remove(30)
    print(s) # {40, 10, 20} 
    s.remove(50) ==>KeyError: 50

### 6. discard(x):
It removes the specified element from the set.

If the specified element not present in the set then we won't get any error.
    
    s={10,20,30}
    s.discard(10)
    print(s) ===>{20, 30}
    s.discard(50)
    print(s) ==>{20, 30}
    
#### Q. What is the difference between remove() and discard() functions in Set?
#### Q. Explain differences between pop(),remove() and discard() functionsin Set?
### 7.clear():
To remove all elements from the Set.

In [118]:
s={10,20,30} 
print(s) 
s.clear() 
print(s)

{10, 20, 30}
set()

## Mathematical operations on the Set:
    
### 1.union():
    
    x.union(y) ==>We can use this function to return all elements present in both sets
    x.union(y) or x|y

In [119]:
# Eg:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y)) 
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

### 2. intersection():
    x.intersection(y) or x&y
    Returns common elements present in both x and y

In [120]:
# Eg:
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

### 3. difference():
    x.difference(y) or x-y
    returns the elements present in x but not in y

In [121]:
# Eg:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y) 
print(y-x)

{10, 20}
{10, 20}
{50, 60}

### 4.symmetric_difference():
    x.symmetric_difference(y) or x^y
    Returns elements present in either x or y but not in both

In [122]:
# Eg:
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

## Membership operators: (in , not in)

In [123]:
s=set("durga") 
print(s) 
print('d' in s) 
print('z' in s)

{'r', 'd', 'g', 'a', 'u'}
True
False

## Set Comprehension:
Set comprehension is possible.

In [124]:
s={x*x for x in range(5)}
print(s) #{0, 1, 4, 9, 16}
s={2**x for x in range(2,10,2)}
print(s) #{16, 256, 64, 4}
# set objects won't support indexing and slicing:

{0, 1, 4, 9, 16}
{16, 256, 64, 4}

    Eg:
    s={10,20,30,40}
    print(s[0]) ==>TypeError: 'set' object does not support indexing
    print(s[1:3]) ==>TypeError: 'set' object is not subscriptable

### Q.Write a program to eliminate duplicates present in the list?
#### Approach-1:

In [126]:
l=eval(input("Enter List of values: ")) 
s=set(l) 
print(s)

Enter List of values: 2,3,4,2
{2, 3, 4}

#### Approach-2:

In [127]:
l=eval(input("Enter List of values: ")) 
l1=[] 
for x in l: 
    if x not in l1: 
        l1.append(x) 
    print(l1)

Enter List of values: 12,3,4,2,4,2
[12]
[12, 3]
[12, 3, 4]
[12, 3, 4, 2]
[12, 3, 4, 2]
[12, 3, 4, 2]

### All Set Methods

    Method ----> Description
    add() ----> Adds an element to the set
    clear() ----> Removes all the elements from the set
    copy() ----> Returns a copy of the set
    difference() ----> Returns a set containing the difference between two or more sets
    difference_update() ----> Removes the items in this set that are also included in another, specified set
    discard() ----> Remove the specified item
    intersection() ----> Returns a set, that is the intersection of two or more sets
    intersection_update() ----> Removes the items in this set that are not present in other, specified set(s)
    isdisjoint() ----> Returns whether two sets have a intersection or not
    issubset() ----> Returns whether another set contains this set or not
    issuperset() ----> Returns whether this set contains another set or not
    pop() ----> Removes an element from the set
    remove() ----> Removes the specified element
    symmetric_difference() ----> Returns a set with the symmetric differences of two sets
    symmetric_difference_update() ----> inserts the symmetric differences from this set and another
    union() ----> Return a set containing the union of sets
    update() ----> Update the set with another set, or any other iterable